doctype html
html
  head
    title 
    //- ensuring mobile compatibility
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
  body
    #root
    //- Put script at the end of the file, to ensure document is ready before execution
    script(src="/scripts/bundle.js")